<% @title = 'Edit Document' %>
<p>For this to work, you have to be enabled as a 'writer' for the document, or the document has to be pubically writable.</p>
<%= @document.to_iframe({:width => 700}) %>