<% @title = 'Documents' %>
<table>
	<tr>
		<td style='width: 40%; vertical-align: top;'>
			<strong>Folders</strong>
			<ul>
			<% @folders.each do |f| %>
				<li>
					<%= link_to f.title, :action => :index, :folder_id => f.id %> (<%= link_to 'X', {:action => :delete, :folder_id => f.id}, :confirm => 'Are you sure you want to delete this Folder?' %>)
					<%= render :partial => 'folders', :locals => {:folder => f} %>
				</li>
			<% end %>
			</ul>
		</td>
		<td style='vertical-align: top;'>
			<strong>All Documents</strong>
			<%= render :partial => 'file_list' %>
		</td>
	</tr>
</table>
